@media (min-width: 375px) {
body, html{
	overflow-x:hidden;
}

body{
	font-family: 'Helvetica Neue', 'Helvetica','Geneva','Futura';
	font-style: normal;
	font-size: 20px;
	font-size: 100% auto;
	margin-top: 10px;
    	margin-bottom: 0px;
	color: white;
	background-color: #000000;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.box1{
	width: 600px;
	margin: 0px 0px 33px 10px;
}

.box2 {
	text-decoration: none;
	color: white;
	width: 375px;
	margin-left: 10px;
	margin-bottom: 33px;
}

.box2 p{
	line-height: 4px;
}

.box2 a{
	text-decoration: none;
	color: white;
}

.box3{
	margin: 0px 0px 0px 10px;
}

.box4 {
	text-decoration: none;
	color: white;
	font-size: 16px;
	margin-top: -18px;
	margin-left: 15px;
	letter-spacing: 3px;
}

.box4 a{
	text-decoration: none;
	color: white;
}

@media (min-width: 992px) {

body{
	font-size: 25px;
	position: absolute;
	margin-top: 3px;
    	margin-left: : 0px;
    	margin-bottom: 0px;
    	margin-left: 0px;
    	overflow: hidden;
    	top: 0px;
   	bottom: 0px;
   	width: 100%;
}

.box1{
	width: 1000px;
	margin: 0px 0px 50px 10px;
	box-sizing: border-box;
}

.box2 {
	width: 550px;
	margin: 0px 0px 50px 10px;
	text-decoration: none;
	color: white;
	box-sizing: border-box;
}

.box2 a {
	text-decoration: none;
	color: white;
}

.box3{
	width: 550px;
	margin-left: 11px;
	margin-bottom: -25px;
	box-sizing: border-box;
}

.box4 {
	width: 550px;
	color: white;
	font-size: 20px;
	text-decoration: none;
	margin-top: 0px;
	margin-left: 17px;
	letter-spacing: 3px;
	box-sizing: border-box;
}

.box4 a {
	text-decoration: none;
	color: white;
}
